[tool.black]
line-length = 88
target-version = ['py311']
include = '\.pyi?$'
exclude = '''/(\.git|\.venv|build|dist)/'''

[tool.isort]
profile = "black"
line_length = 88
skip = [".venv", "build", "dist"]

[tool.mypy]
python_version = "3.11"
warn_return_any = true
warn_unused_configs = true
ignore_missing_imports = true

[tool.flake8]
max-line-length = 88
extend-ignore = ["E203", "W503"] # Compatible with black
exclude = [".git", ".venv", "build"]
