Flask==3.1.2 # latest version
Werkzeug==3.1.0  # had to add this to fix compatibility issues between Flask and Werkzeug
requests==2.31.0 # latest version
python-multipart==0.0.6 # latest version
pika==1.3.2  # RabbitMQ client
beautifulsoup4==4.13.0  # For HTML processing // latest version
lxml==4.9.3  # Better HTML parser for bs4 //latest compatible version
urllib3<1.27,>=1.21.1  # Version compatible with requests // <1.27> to avoid dependency issues with Werkzeug
PyPDF2==3.0.1  # For extracting PDF page count  // latest version
